# ==============================================================================
# SUPABASE CONFIGURATION (Dapatkan dari Supabase Dashboard > Project Settings > API)
# ==============================================================================

# URL Project Supabase Anda (Contoh: https://xyzcompany.supabase.co)
VITE_SUPABASE_URL=https://ywsssuptokbqkqjjihes/supabase.co

# Anon Public Key Supabase Anda (Contoh: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...)
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c3NzdXB0b2ticWtxamppaGVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MDgyOTIsImV4cCI6MjEwMjQ4NDI5Mn0.AFDNDAghgGAbewjaL-x_7yVLLvwiwvbxWn2u-o20OeM
